#rewards {
  .modal-container {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.199);
    backdrop-filter: blur(0.4vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1000ms ease, width 0ms, height 0ms;
    &.visible {
      pointer-events: unset;
      user-select: unset;
      opacity: 1;
    }
    &.hidden {
      user-select: none;
      pointer-events: none;
      opacity: 0;
    }
  }
}

#rewards {
  .card-container {
    width: 100%;
    background: #1b1b1b;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    .card {
      transition: all 900ms cubic-bezier(0.85, 0, 0.15, 1);
      background: white;
      border-radius: 1em;
      // max-width: 50vw;
      margin: 0 auto;
      width: max(40vw, 350px);
      padding: 2em;
      outline: 2px solid white;
      outline-offset: 1em;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        user-select: none;
      }
      scale: 1.2;
    }
  }
  .close-text {
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    text-align: center;
    background: rgba(119, 119, 119, 0.116);
    color: white;
    font-family: var(--fontAlt);
    letter-spacing: 2px;
    animation: flicker 1s infinite linear;
    cursor: pointer;
    @keyframes flicker {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
  .modal-container:has(.card-container) {
    &.hidden {
      .card {
        scale: 0 !important;
      }
    }
    &.visible {
      .card {
        scale: 1.2 !important;
      }
    }
  }

  .decor-clock {
    position: absolute;
    bottom: 80%;
    animation: clock 35s infinite linear;

    width: min(50vw, 500px);
    filter: drop-shadow(0px 0px 5px white);
  }
  .timer-modal {
    text-align: center;
    color: white;
    background: #1b1b1bc9;
    width: 100%;
    backdrop-filter: blur(2vw);
    .time {
      font-size: 6vw;
      text-shadow: 0px 0px 14px white;
      margin: 0.2em 0;
      letter-spacing: 2vw;
    }
    .details {
      margin: 1em;
      hr {
        margin-bottom: 1vw;
        opacity: 0.4;
      }
      p {
        margin-top: 1em;
        font-size: min(1rem, 3vw);
        color: rgb(175, 174, 174);
        text-shadow: 0px 0px 4px black;
        transition: all 500ms ease;
        // margin: 1em;
        letter-spacing: 0.4vw;
        // margin-right: 1em;
      }

      &:hover {
        p {
          color: white;
          text-shadow: 0px 0px 14px white;
          padding: 1;
        }
      }
      hr {
        width: 10vw;
        margin: 0 auto;
      }
    }
  }
}

@keyframes clock {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@media screen and (max-width: 420px) {
  #rewards .modal-container:has(.card-container).visible .card {
    scale: 1.1 !important;
  }
  #rewards {
    .modal-container {
      .card-container {
        .card {
          scale: 1;
        }
      }
    }
  }
}
